body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 20px;
}

h1 {
    color: #0080ff;
}

.add-expense-section {
    background-color: #f0f0f0;
    padding: 15px;
    margin-bottom: 20px;
}

#expense-list {
    background-color: #fcfcfc;
    padding: 15px;
}
